*{
    margin: 0;
    padding: 0;
}
a{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--body-color);
}
.Hero{
    margin: 60px;
    margin-left: 100px;
    display: flex;
}
.Hero > .container .mainhero .head{
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--text-color);
} 
.Hero > .container .mainhero .head span{
    background: linear-gradient(90deg, #ec239f 0%, #1345e6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.Hero > .container .mainhero .main{
    color: var(--text2-color);
    font-size: 20px;
    margin-bottom: 20px;
}

.Hero > .container .mainhero .socialmedia{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 160px;
}

.Hero > .container .mainhero .socialmedia li i{
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}
.Hero > .container .mainhero .socialmedia li .fa-whatsapp{
    padding-left: 9px;
    padding-right: 9px;
    color: #009b77;
    border: solid #009b77 1px;
    transition: 0.5s;
}
.Hero > .container .mainhero .socialmedia li .fa-whatsapp:hover{
    background-color: #009b77;
    color: #fff;
}
.Hero > .container .mainhero .socialmedia li .fa-instagram{
    padding-left: 8.5px;
    padding-right: 8.5px;
    color: rgb(202, 35, 91);
    border: solid rgb(202, 35, 91) 1px;
    transition: 0.5s;
}
.Hero > .container .mainhero .socialmedia li .fa-instagram:hover{
    background-color: rgb(202, 35, 91);
    color: #fff;
}
.Hero > .container .mainhero .socialmedia li .fa-youtube{
    padding-left: 6.5px;
    padding-right: 6.5px;
    color: rgb(209, 41, 41);
    border: solid rgb(209, 41, 41) 1px;
    transition: 0.5s;
}
.Hero > .container .mainhero .socialmedia li .fa-youtube:hover{
    background-color: rgb(209, 41, 41);
    color: #fff;
}
.Hero > .container .mainhero .socialmedia li .fa-twitter{
    padding-left: 7.5px;
    padding-right: 7.5px;
    color: rgb(96, 105, 190);
    border: solid rgb(96, 105, 190) 1px;
    transition: 0.5s;
}
.Hero > .container .mainhero .socialmedia li .fa-twitter:hover{
    background-color: rgb(96, 105, 190);
    color: #fff;
}
.Hero > .container .mainhero .btn button{
    background: linear-gradient(90deg, #ed239f 0%, #1345e6 100%);
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: 0.6s;
}
.Hero > .container .mainhero .btn button:hover{
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.Hero > .container2 .shape img{
   width: 600px;
   height: 460px;
   position: relative;
   top: -60px;
   left: 120px;
}
@media (max-width:1115px){
    .Hero > .container .mainhero .head{
        font-size: 30px;
    }
}
@media (max-width:1063px){
    .Hero > .container .mainhero .head{
        font-size: 25px;
    }
    .Hero > .container .mainhero .main{
        font-size: 15px;
    }
    .Hero > .container2 .shape img{
        height: 400px;
        width: 450px;
    }
}

@media (max-width:950px){
    .Hero{
        display: block;
        padding-top: 50px;
        margin-left: 0;
        text-align: center;
        margin: 0;
    }
    .Hero > .container .socialmedia{
        margin: auto;
    }
    .Hero > .container2 .shape img{
        left: 0;
        top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    
    
}
@media (max-width:423px){
    .Hero > .container2 .shape img{
        position: relative;
        left: -15px;
    }
}
@media (max-width:376px){
    .Hero > .container2 .shape img{
        position: relative;
        left: -27px;
    }
}




.AboutMe{
    display: flex;
    margin: 50px;
}
.AboutMe .container{
    margin-top: 35px;
}
.AboutMe .container .head{
    font-size: 20px;
    font-weight: 700;
    color: #be23ed;
    margin: 15px;
    margin-left: 45px;
}
.AboutMe > .container .title{
    font-size: 30px;
    font-weight: 700;
    margin: 15px;
    margin-left: 45px;
    color: var(--text-color);
}
.AboutMe > .container .text1{
    margin: 35px;
}
.AboutMe > .container .text1 p{
    font-size: 16px;
    font-weight: 600;
    color: var(--text3-color);
    margin: 10px;
}

.AboutMe > .container .btn button{
    padding: 16px;
    margin-left: 40px;
    border: 0;
    border-radius: 5px;
    background: linear-gradient(90deg, #ed239f 0%, #1345e6 100%);
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.AboutMe > .container .btn button:hover{
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.AboutMe > .container2 img{
    width: 600px;
   height: 460px;
}

.About > .container .achievement{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    flex-wrap: wrap;
}
.About > .container .achievement .main{
    text-align: center;
    padding: 30px;
    border-radius: 2px;
    width: 250px;
    background-color: var(--achBG-color);
    margin: 10px;
}
.About > .container .achievement .main .val{
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.About > .container .achievement .main .name{
    color: var(--text2-color)
}

.AboutMe > .container2 video{
    height: 740px;
    width: 740px;
    position: absolute;
    margin-top: -110px;
}

@media (max-width:1115px){
    .AboutMe > .container2 .shape img{
        height: 400px;
        width: 450px;
    }
    .AboutMe > .container .title{
        font-size: 19px;
    }
    .AboutMe > .container .text1 p{
        font-size: 12px;
    }
    .AboutMe > .container .btn button{
        padding: 10px 15px;
    }
}
@media (max-width:950px) {
    .AboutMe > .container{
        text-align: center;
        margin-left: -60px;
        margin-right: -60px;
    }
    .AboutMe > .container .btn button{
        margin: 0;
    }
    .AboutMe .container .head{
        margin-left: 0;
    }
    .AboutMe .container .title{
        margin-left: 0;
    }
    .AboutMe .container .text1{
        margin: 0;
        width: 100%;
    }
    .AboutMe{
        display: block;
    }
    .AboutMe > .container2 .shape img{
      display: block;
      margin-right: auto;
      margin-left: auto;

    }
}
@media (max-width:423px){
    .AboutMe > .container2 .shape img{
        position: relative;
        left: -60px;
    }
}
@media (max-width:376px){
    .AboutMe > .container2 .shape img{
        position: relative;
        left: -80px;
    }
}

.Skill > .container{
    margin-top: 70px;
    margin-bottom: 60px;
}

.Skill > .container .header{
    text-align: center;
}
.Skill > .container .header .head{
    background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 17px;
    font-weight: 700;
    margin: 15px;
}

.Skill > .container .header .title{
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
}
.Skill > .container .progress{
    padding: 20px;
    width: 400px;
}
.Skill > .container .progress .progress_head .progress-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.Skill > .container .progress .progress_head .progress-head .title{
    font-weight: 700;
    color: var(--text-color);
}
.Skill > .container .progress .progress_head .progress_bar .outer{
    padding: 1px;
    border: 1px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--skill-bg);
}
.Skill > .container .progress .progress_head .progress_bar .outer .inner{
    padding: 4px;
    border-radius: 20px;
    background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    width: 70%;
}


.Skill > .container .progress .progress_head2 .progress-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.Skill > .container .progress .progress_head2 .progress-head .title{
    font-weight: 700;
    color: var(--text-color);
}
.Skill > .container .progress .progress_head2 .progress_bar .outer{
    padding: 1px;
    border: 1px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--skill-bg);
}
.Skill > .container .progress .progress_head2 .progress_bar .outer .inner{
    padding: 4px;
    border-radius: 20px;
    background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    width: 80%;
}

.Skill > .container .progress .progress_head3 .progress-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.Skill > .container .progress .progress_head3 .progress-head .title{
    font-weight: 700;
    color: var(--text-color);
}
.Skill > .container .progress .progress_head3 .progress_bar .outer{
    padding: 1px;
    border: 1px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--skill-bg);
}
.Skill > .container .progress .progress_head3 .progress_bar .outer .inner{
    padding: 4px;
    border-radius: 20px;
    background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    width: 90%;
}

.Skill > .container .progress .progress_head4 .progress-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.Skill > .container .progress .progress_head4 .progress-head .title{
    font-weight: 700;
    color: var(--text-color);
}
.Skill > .container .progress .progress_head .progress-head .val{
    color: var(--text3-color)
}
.Skill > .container .progress .progress_head2 .progress-head .val{
    color: var(--text3-color)
}
.Skill > .container .progress .progress_head3 .progress-head .val{
    color: var(--text3-color)
}
.Skill > .container .progress .progress_head4 .progress-head .val{
    color: var(--text3-color)
}
.Skill > .container .progress .progress_head4 .progress_bar .outer{
    padding: 1px;
    border: 1px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--skill-bg);
}
.Skill > .container .progress .progress_head4 .progress_bar .outer .inner{
    padding: 4px;
    border-radius: 20px;
    background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    width: 70%;
}
.Skill > .container .progress .progress-head{
    margin: 16px;
}

.Skill > .container .about .title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--text-color);
}
.Skill > .container .about .text{
    font-weight: 700;
    color: var(--text3-color);
    margin-bottom: 20px;
    width: 500px;
}
.Skill > .container .about .text p{
    margin-bottom: 7px;
}
.Skill > .container .about .text2{
    font-weight: 700;
    color: var(--text3-color);
}
.Skill > .container .about .text2 p{
    margin-bottom: 7px;
}

.Skill > .container .about .btn button{
    padding: 12px;
    background: linear-gradient(90deg, #ed239f 0%, #1345e6 100%);
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
    width: 100px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.Skill > .container .about .btn button:hover{
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.Skill > .container .container2{
    display: flex;
    justify-content: space-between;
    margin: 47px;
    margin-left: 120px;
    margin-right: 140px;
}
@media (max-width:1115px){
    .Skill > .container .header .title{
        font-size: 20px;
    }
    .Skill > .container .container2 {
        margin-left: 70px;
        margin-right: 70px;
    }
    .Skill > .container .container2 .about .title{
        font-size: 17px;
    }
    .Skill > .container .container2 .about .text p{
        font-size: 12px;
    }
    .Skill > .container .container2 .progress .progress-head .title{
        font-size: 13px;
    }
    .Skill > .container .container2 .progress .progress-head .val{
        font-size: 12px;
    }
}
@media (max-width:950px){
    .Skill > .container .container2{
        display: block;
        text-align: center;
    }
    .Skill > .container .container2 .progress{
       margin: auto;
       position: relative;
       bottom: 40px;
       width: 100%;
    }
    .Skill > .container .progress{
        padding: 0;
    }
    .Skill{
        margin-left: -60px;
        margin-right: -60px;
    }
    .Skill > .container .about .text{
        width: 100%;
    }

}


.Mywork > .header{
    text-align: center;
}
.Mywork > .header .head{
     background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 17px;
    font-weight: 700;
    margin: 15px;
}
.Mywork > .header .title{
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
}
.Mywork > .content .work{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Mywork > .content .work img{
    width: 600px;
    height: 400px;
}
@media (max-width:612px){
    .Mywork > .content .work img{
        width: 370px;
        height: 170px;
    }
}