*{
    margin: 0;
    padding: 0;
}
.Header > .container{
    display: flex;
    justify-content: space-between;
    padding: 8px 100px;
    align-items: center;
}
.Header > .container .logo{
    font-size: 25px;
    color: var(--text-color);
}
.Header > .container .logo span{
    background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Header > .container .button .fa-moon{
    font-size: 20px;
    position: relative;
    top: 5px;
    color: var(--text-color);
}
.Header > .container .button button{
    padding: 7px 20px;
    background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    border: 0;
    border-radius: 50px;
    margin-left: 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: all .7s ease 0.6s;
    -moz-transition: all .7s ease 0.6s;
    -o-transition: all .7s ease 0.6s;
    transition: all .7s ease 0.6s
}
.Header > .container .button button:hover{
    background: linear-gradient(90deg, #ed239f 0%, #1345e6 100%);
}

.Header > .container .links{
    display: flex;
    list-style-type: none;
}
.Header > .container .links a{
    text-decoration: none;
    margin: 3px;
    padding: 10px;
    font-size: 19px;
    color: var(--text-color);
}
.Header > .container .links a:hover{
    background: linear-gradient(90deg, #ed239f 0%, #1345e6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.Header > .container .links li ul{
    background-color: var(--ulBG-color);
    list-style-type: none;
    display: block;
    position: absolute;
    top: 68px;
    border-radius: 5px;
    box-shadow: 0 2px 28px 10px rgba(0 0 0 /10%);
}
.Header > .container .links li ul li{
    padding: 13px 44px;
    display: none;
}
.Header > .container .links li:hover ul li{
    display: block;
}

.Header.active{
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 8px 3px rgba(0 0 0 /6%);
    width: 100%;
    z-index: 10;
    height: 66px;
    background-color: var(--ulBG-color);
}
.Header > .container .links .dp a{
    padding-bottom: 30px;
}

