body{
    overflow-x: hidden;
    margin: 0;
    transition: 0.5s;
}

::-webkit-scrollbar {
    width: 7px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(202, 202, 202); 
  }  
::-webkit-scrollbar-thumb {
    background: rgb(182, 0, 182); 
    color: rgb(115, 0, 182);
  }

  @media (max-width:490px) {
    html,body{
        overflow-x: hidden;
    }
}

:root{
  --body-color: #fff;
  --text-color: #000;
  --text2-color: rgb(85, 85, 85);
  --text3-color: rgb(133, 133, 133);
  --ulBG-color: #fff;
  --skill-bg: rgb(202, 202, 202);
  --achBG-color: #d6d6d6;
  --display-sun: flex;
  --display-moon: none;
  --mode-color: #fff;
}

body.dark{
  --body-color: #0f0513;
  --ulBG-color: #1a0920;
  --mode-color: #290f33;
  --achBG-color: #1a0920;
  --text-color: #fff;
  --text2-color: #c9c9c9;
  --text3-color: #afafaf;
  --skill-bg: #562a64;
  --display-sun: none;
  --display-moon: flex;
}